@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300&subset=latin,cyrillic);
html { margin: 0; padding: 0; width: 100%; height: 100%; min-height: 100%; }

body { padding: 0; margin: 0; font-size: 14px; line-height: 24px; font-weight: 300; font-family: "Open Sans", arial, serif; color: #444; background: #fff; position: relative; min-width: 960px; }

html { text-size-adjust: none !important; -webkit-text-size-adjust: none !important; }

body { text-size-adjust: none !important; -webkit-text-size-adjust: none !important; }
body * { text-size-adjust: none !important; -webkit-text-size-adjust: none !important; }

* { outline: none !important; }

h1, h2, h3, h4, h5, h6 { font-family: "Comfortaa", arial, serif; color: #141414; font-weight: 300; line-height: normal; margin-bottom: 10px; margin-top: 0; }
h1.no-margin, h2.no-margin, h3.no-margin, h4.no-margin, h5.no-margin, h6.no-margin { margin: 0; }
h1 b, h1 span, h2 b, h2 span, h3 b, h3 span, h4 b, h4 span, h5 b, h5 span, h6 b, h6 span { font-weight: normal; }

h1 { font-size: 32px; }

h2 { font-size: 32px; }

h3 { font-size: 24px; }

h4 { font-size: 24px; }

h5 { font-size: 18px; }

h6 { font-size: 16px; }

a { -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; color: #5b7fa6; text-decoration: none; }
a:visited { color: #5b7fa6; }
a:hover { text-decoration: underline; color: #5b7fa6; }
a:active { text-decoration: none; }

p { margin: 0 0 5px 0; }

ul, ol { margin-bottom: 5px; margin-top: 5px; padding-left: 25px; }
ul li, ol li { padding: 0 0 5px 0; margin: 0; }

iframe, object, embed { display: block; }

img { border: none; max-width: 100%; height: auto; }

::-webkit-input-placeholder { color: #a4a19f; }

:-moz-placeholder { color: #a4a19f; }

::-moz-placeholder { color: #a4a19f; }

:-ms-input-placeholder { color: #a4a19f !important; }

.placeholder { color: #a4a19f !important; }

textarea, select, input[type="file"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "Open Sans", arial, serif; border: none; border-bottom: 1px solid #868585; color: #141414; font-size: 18px; margin: 0; border-radius: 0; -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none !important; background: transparent; padding: 15px 0; box-shadow: none; letter-spacing: 2px; font-weight: 300; }

select { color: #a4a19f; }

textarea.input-large, select.input-large, input.input-large { font-size: 16.8px; padding: 12px 9px 10px 9px; }
textarea.input-small, select.input-small, input.input-small { font-size: 11.2px; padding: 2px 2px 3px 2px; }
textarea.input-short, select.input-short, input.input-short { width: 100px !important; }

.safari select, .chrome select { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAFCAYAAABIHbx0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADZJREFUeNpi3L59+38GAsDDw4ORkBomICakiKAhMIPwKSbKEGSDsGki2hB0g5A1k2QICAAEGACVKAQPhP33PwAAAABJRU5ErkJggg==); background-repeat: no-repeat; background-position: right center; }

textarea { height: auto; }

.btn { -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; display: inline-block; padding: 8px 15px; border: none; border-radius: 0; text-shadow: none; box-shadow: none; color: #fff !important; font-family: "Comfortaa", arial, serif; font-weight: 300; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 18px; color: #2c2e32; text-decoration: none !important; outline: none !important; -webkit-backface-visibility: hidden; background: #1f1f1f; margin-right: 5px; margin-top: 10px; margin-bottom: 10px; }
.btn:hover, .btn:active { opacity: 0.7; filter: alpha(opacity=70); }
.btn.btn-link { background: transparent; box-shadow: none; text-shadow: none; color: #5b7fa6 !important; font-weight: normal; border: none; padding: 0; }
.btn.btn-link:hover { color: #486686 !important; text-decoration: underline !important; }
.btn.btn-block, .btn.full-width { width: 100%; padding-left: 0; padding-right: 0; text-align: center; margin-left: 0 !important; margin-right: 0 !important; }
.btn.btn-smallest { font-size: 13px; font-weight: bold; padding: 2px 7px 2px 7px; }
.btn.btn-smallest:active { padding-left: 7px; padding-right: 6px; }
.btn.btn-small { font-size: 13px; padding: 6px 12px; }
.ie7 .btn.btn-small { padding: 4px 12px 6px 12px; }
.btn.btn-medium { padding-top: 7px; padding-bottom: 5px; }
.btn.disabled { opacity: 0.5; filter: alpha(opacity=50); cursor: default; }

.unstyled { list-style-type: none; list-style-image: none; margin: 0; padding: 0; }
.unstyled li { list-style-type: none; list-style-image: none; margin: 0; padding: 0; }

.black { color: #141414; }

.grey { color: #444; }

.white { color: #fff; }

.align-left { text-align: left !important; }

.align-right { text-align: right !important; }

.align-center { text-align: center !important; }

.full-width { width: 100% !important; }

.float-left { float: left !important; }

.float-right { float: right !important; }

.float-center { text-align: center !important; }

.clear { clear: both; }

.fixed-top, .fixed-bottom { position: fixed !important; right: 0; left: 0; z-index: 1000; }

.fixed-top { top: 0; }

.fixed-bottom { bottom: 0; }

.overflow { height: 100%; overflow: hidden; }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }

.hidden { display: none; visibility: hidden; }

.invisible { visibility: hidden; }

.hidden-item { display: none; }

.col-2-wrapper { clear: both; text-align: center; height: 100%; overflow: hidden; }
.col-2-wrapper .col { width: 50%; }

.col-3-wrapper { clear: both; text-align: center; height: 100%; overflow: hidden; }
.col-3-wrapper .col { width: 33.33333%; }

.col-4-wrapper { clear: both; text-align: center; height: 100%; overflow: hidden; }
.col-4-wrapper .col { width: 25%; }

.col-5-wrapper { clear: both; text-align: center; height: 100%; overflow: hidden; }
.col-5-wrapper .col { width: 20%; }

.col-6-wrapper { clear: both; text-align: center; height: 100%; overflow: hidden; }
.col-6-wrapper .col { width: 16.66667%; }

.col { float: left; }

.m-t-5 { margin-top: 5px; }

.m-b-5 { margin-bottom: 5px; }

.m-l-5 { margin-left: 5px; }

.m-r-5 { margin-right: 5px; }

.p-t-5 { padding-top: 5px; }

.p-b-5 { padding-bottom: 5px; }

.p-l-5 { padding-left: 5px; }

.p-r-5 { padding-right: 5px; }

.m-t-10 { margin-top: 10px; }

.m-b-10 { margin-bottom: 10px; }

.m-l-10 { margin-left: 10px; }

.m-r-10 { margin-right: 10px; }

.p-t-10 { padding-top: 10px; }

.p-b-10 { padding-bottom: 10px; }

.p-l-10 { padding-left: 10px; }

.p-r-10 { padding-right: 10px; }

.m-t-15 { margin-top: 15px; }

.m-b-15 { margin-bottom: 15px; }

.m-l-15 { margin-left: 15px; }

.m-r-15 { margin-right: 15px; }

.p-t-15 { padding-top: 15px; }

.p-b-15 { padding-bottom: 15px; }

.p-l-15 { padding-left: 15px; }

.p-r-15 { padding-right: 15px; }

.m-t-20 { margin-top: 20px; }

.m-b-20 { margin-bottom: 20px; }

.m-l-20 { margin-left: 20px; }

.m-r-20 { margin-right: 20px; }

.p-t-20 { padding-top: 20px; }

.p-b-20 { padding-bottom: 20px; }

.p-l-20 { padding-left: 20px; }

.p-r-20 { padding-right: 20px; }

.m-t-25 { margin-top: 25px; }

.m-b-25 { margin-bottom: 25px; }

.m-l-25 { margin-left: 25px; }

.m-r-25 { margin-right: 25px; }

.p-t-25 { padding-top: 25px; }

.p-b-25 { padding-bottom: 25px; }

.p-l-25 { padding-left: 25px; }

.p-r-25 { padding-right: 25px; }

.m-t-30 { margin-top: 30px; }

.m-b-30 { margin-bottom: 30px; }

.m-l-30 { margin-left: 30px; }

.m-r-30 { margin-right: 30px; }

.p-t-30 { padding-top: 30px; }

.p-b-30 { padding-bottom: 30px; }

.p-l-30 { padding-left: 30px; }

.p-r-30 { padding-right: 30px; }

.todo { color: red; font-weight: bold; }

#section-header { position: fixed; left: 0; right: 0; top: 0; height: 50px; background: #1f1f1f; color: #fff; font-size: 16px; letter-spacing: 0; z-index: 50; }

.logo { padding: 17px 15px; float: left; background: #141414; }
.logo img { display: block; }

.fork-on-github { margin-left: 15px; padding: 0 15px; color: #fff !important; text-decoration: none !important; float: right; text-decoration: none; line-height: 50px; background: #1f1f1f; }
.fork-on-github:hover { padding-top: 10px; background: #141414; }

.icon-fork { display: inline-block; width: 11px; height: 15px; background: url(../images/icon_fork.png) no-repeat 0 0; }

.icon-github { display: inline-block; width: 56px; height: 15px; background: url(../images/icon_github.png) no-repeat 0 0; }

.menu { list-style-type: none; list-style-image: none; margin: 0; padding: 0; float: right; }
.menu li { list-style-type: none; list-style-image: none; margin: 0; padding: 0; }
.menu li { float: left; }
.menu li a { padding: 0 15px; line-height: 50px; color: #fff; text-decoration: none !important; display: block; background: #1f1f1f; }
.menu li a:hover { padding-top: 10px; background: #141414; color: #fff; }

.container { max-width: 940px; margin-left: auto; margin-right: auto; position: relative; }

.section, .section-inner { position: relative; }

.section-inner > .container { position: static; }

.section.section-odd { background: #fff; }
.section.section-even { background: #f3f3f3; }
.section.section-even code, .section.section-even pre { background: #fff; }
.section .section-title { padding-left: 28px; border-left: 2px solid #a3a3a3; margin-bottom: 30px; padding-top: 15px; padding-bottom: 15px; line-height: 40px; }

#options { padding-bottom: 30px; }

#browser { padding-bottom: 30px; }

#download { padding-top: 50px; padding-bottom: 50px; }
#download .btn { margin: 0 10px; padding: 10px 20px; }

#promo { position: relative; background: #141414; }
#promo:after { content: ""; top: 0; left: 0; right: 0; bottom: 0; z-index: 20; display: block; position: absolute; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpiEhER+Q8EDIwgAgQAAgwASrgHOQubZ70AAAAASUVORK5CYII=); opacity: 0.3; filter: alpha(opacity=30); }

#container-promo { opacity: 0.7 !important; }
#container-promo .tile-item { width: 5%; padding-bottom: 5%; padding-bottom: 5%; }

.tile-caption { z-index: 25; position: absolute; bottom: 0; left: 0; right: 0; }
.tile-caption .tile-caption-inner { float: left; padding: 15px 30px; background-color: #fff; background-color: rgba(255, 255, 255, 0.8); padding-left: 10029px; margin-left: -9999px; }
.tile-caption .tile-caption-inner * { margin: 0; }
.tile-caption .tile-caption-inner h1 { font-size: 32px; }
.tile-caption .tile-caption-inner h2 { font-family: "Open Sans", arial, serif; font-size: 18px; font-weight: 300; }

code, pre { font-size: 13px; border: 1px solid #ccc; padding: 6px 10px; line-height: 18px; margin-bottom: 20px; font-family: "Consolas", "Monaco", "Courier", monospace; color: #666; background: #f8f8f8; border-radius: 3px; }

code { padding: 2px 5px; }

.setup-item { margin-bottom: 30px; }
.setup-item .setup-title { padding-left: 30px; margin-bottom: 30px; }
.setup-item .setup-title span { color: #a3a3a3; padding-right: 15px; }

#main-container { padding-top: 50px; }

.block-container { margin: 0; width: 300px; border: 1px solid #ddd; padding: 1px; }
.block-container .tile-item { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 33.3%; padding-bottom: 33.3%; border: 1px solid #eee; }

.example-item { overflow: hidden; height: 100%; clear: both; margin-bottom: 30px; padding-top: 30px; border-top: 1px solid #f3f3f3; }
.example-item.first, .example-item:first-child { border-top: none; padding-top: 0; }
.example-item h3 { padding-left: 30px; margin-bottom: 30px; }
.example-item h3 span { color: #a3a3a3; padding-right: 15px; }

.custom-container { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 12px; line-height: normal; padding: 5px; top: 0; left: 0; bottom: 0; right: 0; position: absolute; background: #fff; }
.custom-container:nth-child(odd) { background: #fff; }
.custom-container:nth-child(even) { background: #f3f3f3; }

.example-wide .example-left { margin-right: 450px; }

.example-left { margin-right: 350px; }

.example-right { float: right; }

.tile-stamp { width: 49.5%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 24.5%; margin: 1px; background: #f8f8f8; border: 1px solid #ccc; text-align: center; position: relative; float: left; overflow: hidden; }

.tile-stamp > div { position: absolute; left: 10px; right: 10px; top: 10px; font-size: 12px; }
.tile-stamp > div h4 { font-size: 16px; margin: 10px 0; }
.tile-stamp > div p { line-height: normal; margin: 0; }

#container-animate { width: 400px; }

#container-animate .tile-item { width: 25%; padding-bottom: 25%; }

#section-footer { background: #1f1f1f; font-size: 16px; color: #fff; text-align: center; padding: 20px 0; }
#section-footer a { color: #fff !important; }
