/*
 * jQuery tileSlideshow v0.1.0
 * Copyright 2014 Pavel Davydov
 */

.tile-container {
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* Hide until document is loaded */
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.tile-item {
  width: 10%;
  padding-bottom: 10%;

  position: relative;
  float: left;
  overflow: hidden;
}
.tile-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
